/* License: CC0 Public Domain (creativecommons.org/publicdomain/zero/1.0/) */
/* Version: 2014-01-28 (userstyles.org/styles/96471) */
/* AGENT_SHEET */
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("startpage.com"), domain("ixquick.com") {

#main_link > p, #sponsored, #news_message, #footer_links, .tod,
#logo > a > img, #results_header #detail,
#results_content div[style="padding-bottom:24px;"],
/* settings */ .tdtopcurve, .tdbottomcurve,
/* video */ #vsearch_engines .checkbox_img,
/* Google */ #search_form > #enhanced_cont, #enhanced
{ display: none !important; }

body, div, ul, li, table, tbody, th, tr, td, h2, h3, p, form, dl, dt, dd, cite, code,
.searchbuttonlink, .official_block > span,
/* bottom */ #jumpsbar, #nextnavbar
{ background: none !important; }
a, span, strong { background-color: transparent !important; }

html, #inner_promo_box { background: #222 !important; }
option, UL[style*="display"], div[style*="display"], blockquote, pre, #privacy, /* JS; tooltip */ #WzTtDiV { background: #181818 !important; }
.official_block { background: #722 !important; color: #ddd !important; border-radius: 3px; }
/* emails */ img[src$="email_black.gif"] { background: #ddd !important; }

* { color: inherit !important; text-shadow: none !important; border-color: #555 !important; }
html, .active { color: #ccc !important; }
hr { height: 0 !important; border: 0 solid #555 !important; border-width: 1px 0 0 !important; }
a { color: #5af !important; text-decoration: none !important; }
h1, h2, h3, h4, h5, h6, th { color: #9cf !important; }
.result a:visited { color: #7b4 !important; }
a:hover { text-decoration: underline !important; }

/* found in title of: web, video */ .result > h3 > a > b, #vtable a > b { /* nothing */ }
.result > h3 > a:hover > b { color: inherit !important; }
/* URL of results on: web, image, video */ .url, .normaltext[style*="green"], .video_desc > .normaltext { color: #777 !important; font-style: italic !important; }
/* found in URL */ .url > b, /* found in descriptions */ .desc > b, .normaltext > b, .video_desc > b { color: #f5f !important; font-weight: normal !important; }

::-moz-selection { background: #148 !important; }
::selection { background: #184880 !important; }

input[type="submit"], input[type="button"], input[type="file"], input[type="reset"], button
{ color: #fff !important; border: 1px solid #555 !important; background: #111 !important;
padding: 2px 5px !important;
border-radius: 3px !important; box-shadow: none !important; text-shadow: none !important;
background-image: linear-gradient(rgba(255,255,255,0.2),rgba(125,125,125,0.2),rgba(0,0,0,0.3)) !important; }

input[type="submit"]:hover, input[type="button"]:hover, input[type="file"]:hover, input[type="reset"]:hover, button:hover
{ border-color: currentColor !important; background-color: #000 !important; color: #4be !important; }

button, input, select, textarea { -moz-appearance: none !important; }
input[type="radio"], input[type="checkbox"] { color: #4be !important; background: #222 !important; border-color: #999 !important; }

input, select, textarea, input[type="text"] { background: #181818 !important; color: #ccc !important; padding: 2px !important; border: 1px solid #555 !important; box-shadow: none !important; }
input[type] { border-width: 1px !important; border-style: solid !important; }
textarea:hover, input:hover, select:hover, textarea:focus, input:focus, select:focus { border-color: #09f !important; }

select > button { background-color: transparent !important; border: none !important; }
option:hover, option:focus, option:active, option:checked { background: linear-gradient(#158,#158) !important; }

#search { margin-bottom: 18px !important; padding: 0 !important; }
#head { margin-bottom: 0 !important; }

/* Support Center */
#main .searchboxcontainer { border-width: 1px !important; }
#main .searchquery { height: 29px !important; margin: 0 !important; }
/* Support Center, iq Phone */ .current { border-bottom: 1px solid #555 !important; border-radius: 5px; }
/* SERP */ #tod_wrap, /* iq Phone */ #submit_box { border: 0 !important; }
#results_count_p { color: #777 !important; margin: -8px 0 0 220px !important; }
.sugg { display: inline-block !important; margin-top: 8px !important; }
/* collapse space of "Bookmark this search", but keep the link */ #tip .bookmark { height: 0 !important; border: 0 !important; }

/* centering - begin */ /*
body { max-width: 900px !important; margin: 0 auto !important; }
#logo, #side_bar, #show_hide > span { left: auto !important }
#video_results td[width="320"] { width: 100px !important; }
#video_results img[src="graphics/spacer.gif"] { display: none !important; }
/* centering - end */

input.invisible { padding: 0 !important; border: 0 !important; }
.result { margin: 8px 145px 12px 10px !important; padding: 5px !important; }
#main_link + #search_form { padding: 0 !important; }
/* video */ #vsearch_engines input { visibility: visible !important; }
#office_website b { text-decoration: none !important; }

img:not(:hover) { opacity: .7; }
#results_content img { opacity: 1; }

.result #proxy_link { font-size: 0 !important; text-decoration: none !important; }
.result #proxy_link::before { content: "Proxy"; font-size: 13px; }
.result #proxy_link:hover::before { text-decoration: underline !important; }

#main_link { font: 0px/1.2 monospace !important; margin-bottom: 40px !important; text-decoration: none !important; }
#main_link::before { content: "start"; color: #f55; font-size: 40px !important; }
#main_link::after { content: "page"; color: #09f; font-size: 40px !important; }
tr + tr #main_link::before { content: "ix"; color: #f55; }
tr + tr #main_link::after { content: "quick"; color: #09f; }

#logo > a { font-size: 30px !important; text-decoration: none !important; }
#logo > a[href^="https://startpage.com/"]::before { content: "start"; color: #f55; }
#logo > a[href^="https://startpage.com/"]::after { content: "page"; color: #09f; }
#logo > a[href^="https://ixquick.com/"] { font: 30px/1.6 monospace; }
#logo > a[href^="https://ixquick.com/"]::before { content: "ix"; color: #f55; }
#logo > a[href^="https://ixquick.com/"]::after { content: "quick"; color: #09f; }

img[src="s/white/graphics/star.gif"], .fixstar { height: 10px !important; width: 0 !important; padding: 0 5px !important; background: #995 !important; border-radius: 7px !important; border: 2px solid #222 !important; }
.fixstar { margin-right: 4px; }

#submit[type="image"], #submit1[type="image"] { height: 27px !important; width: 0 !important; padding: 0 14px !important; background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAASCAQAAADBVSe6AAABBklEQVQoz23RP0gCYRjH8RtMyKG5RcKhqbZoaBSXpqChSaKhzak4CMcLaojA6EB9vq+5RBCIBi1NEq1hS7TVWK0hKrp1vd3reeId7/J7nw/v8/6zPCsYapsWX3RpYzuJ/8oYSvNyQ48TtSU5jvigU8tMkAverpaCHqS4peMk/EltjWF1NdzA53dsE4vcT5NfO6RtQkOOI5ila0Kdy1nUZ/80oaCeIyvPaPqhvMiPyk+TLDOQzaDJLn32Ji3X9U3r4T3neNJv80JFznlkxGkjGWIRr5qXfSpcc6BWTNU8Qoah3M0eaYw80C+nY5EdPOwoaXQX+ObVfFEElcuvbMSRRhzlxpNn/QHXYQdvX6L97AAAAABJRU5ErkJggg==") center no-repeat, linear-gradient(rgba(255,255,255,0.2),rgba(125,125,125,0.2),rgba(0,0,0,0.3)) !important; }
#submit:hover, #submit1:hover { background-color: #000 !important; }
td > #submit1 { margin-left: 6px !important; }

}

/*** Ixquick Proxy ***/

@-moz-document domain("ixquick-proxy.com") {

html, ul, div[style*="display"] { background: #222 !important; }
body, div, ol, li, dl, dt, dd, table, thead, tbody, th, tr, td, h1, h2, h3, h4, h5, h6, p, fieldset, form, aside, nav, header, footer, cite, a, span, em, strong { background: none !important; box-shadow: none !important; }
code, pre, blockquote { background: #181818 !important; }

* { color: inherit !important; border-color: #555 !important; text-shadow: none !important; }
html, body[bgcolor="#BCD3F5"] .protectPrivacyClass { color: #ccc !important; }
a { color: #4be !important; border-color: currentColor !important; }
a:visited { color: #09f !important; }
a:hover { color: #7df !important; }
/* Highlight */ b[style="color:black;background-color:#FFCCFF"] { color: #f44 !important; background: #111 !important; }

hr { height: 0 !important; border-style: solid !important; border-width: 1px 0 0 !important; }
::-moz-selection { background: #184880 !important; }
::selection { background: #184880 !important; }

input[type="submit"], input[type="button"], input[type="file"], input[type="reset"], button
{ color: #fff !important; background: #111 !important; border: 1px solid #555 !important;
border-radius: 7px !important; box-shadow: none !important; text-shadow: none !important;
background-image: linear-gradient(rgba(255,255,255,0.2),rgba(125,125,125,0.2),rgba(0,0,0,0.3)) !important; }

input[type="submit"]:hover, input[type="button"]:hover, input[type="file"]:hover, input[type="reset"]:hover, button:hover
{ background-color: #000 !important; color: #4be !important; border-color: currentColor !important; }

button, input, select, textarea { -moz-appearance: none !important; }
input[type="radio"], input[type="checkbox"] { color: #4be !important; background: #222 !important; border-color: #999 !important; }

input, select, textarea, input[type="text"] { background: #181818 !important; color: #fff !important; border: 1px solid #555 !important; padding: 2px !important; }
input[type] { border-width: 1px !important; border-style: solid !important; }
textarea:hover, input:hover, select:hover, textarea:focus, input:focus, select:focus { border-color: #09f !important; }
option { background: #181818 !important; }
select > button { background-color: transparent !important; border: none !important; }

blockquote { border-style: dashed solid !important; border-width: 1px 4px !important; }
img:not(:hover) { opacity: .7 !important; }
.signature { opacity: .5 !important; }

body[bgcolor="#BCD3F5"]:not([color]) { background: #333 !important; border-bottom: 1px solid #551 !important; }
body[bgcolor="#BCD3F5"]:not([color]) input[type] { color: #ff0 !important; border-color: #551 !important; }
body[bgcolor="#BCD3F5"]:not([color]) input[type]:hover, body[bgcolor="#BCD3F5"]:not([color]) input[type]:focus { color: #ff9 !important; border-color: #ff0 !important; }

body[bgcolor="#BCD3F5"] a::before { display: block; font: bold 18px/84px monospace, sans-serif !important; height: 84px; width: 170px; text-align: center; color: #ba0 !important; }
body[bgcolor="#BCD3F5"] a:hover::before { color: #ff0 !important; }

body[bgcolor="#BCD3F5"] > table > tbody > tr > td:first-of-type > a[href^="https://startpage.com/"]::before { content: "start:page"; }
body[bgcolor="#BCD3F5"] > table > tbody > tr > td:first-of-type > a[href^="https://ixquick.com/"]::before { content: "ix:quick"; }

body[bgcolor="#BCD3F5"] > table > tbody > tr > td:first-of-type > a[href^="https://startpage.com/"] > img,
body[bgcolor="#BCD3F5"] > table > tbody > tr > td:first-of-type > a[href^="https://ixquick.com/"] > img,
iframe[src="javascript:void(0);"], /* global ads */ .adsbygoogle
{ display: none !important; }

#phpbb .divider { display: block !important; }
.mediawiki .tex { background: #eee !important; }

}