@-moz-document domain("userstyles.org") {
    html,body {
	background: #002b36 !important;
	color: #839496 !important;
    }
    a {
	color: #268bd2 !important;
    }
    a:visited {
	color: #6c71c4 !important;
    }
    nav,header,footer {
	background: #073642 !important;
	color: #93a1a1 !important;
    }
    pre {
	background-color: #073642 !important;
	color: #93a1a1 !important;
    }
}
