@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document url-prefix(http), url-prefix(https) {
    input {
	background-color: #3f3f3f;
	color: #f0dfaf;
	-moz-appearance: none !important;
    }

    pre, textarea {
	background-color: #3f3f3f;
	color: #f0dfaf;
	-moz-appearance: none !important;
    }

    select {
	background-color: #3f3f3f;
	color: #f0dfaf;
	-moz-appearance: none !important;
    }

    input[type="radio"],
    input[type="checkbox"] {
	background-color: #3f3f3f;
	color: #f0dfaf;
	-moz-appearance: none !important;
    }

    *|*::-moz-radio {
	background-color: #3f3f3f;
	color: #f0dfaf;
	-moz-appearance: none !important;
    }

    button,
    input[type="reset"],
    input[type="button"],
    input[type="submit"] {
	background-color: #3f3f3f;
	color: #f0dfaf;
	-moz-appearance: none !important;
    }

    button:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover,
    input[type="submit"]:hover {
	background-color: #3f3f3f;
	color: #8fb28f;
	-moz-appearance: none !important;
    }

    body {
	background-color: #3f3f3f;
	color: #f0dfaf;
	-moz-appearance: none !important;
    }
    a {
	color: #7F9F7F;
    }
    a:visited {
	color: #DCA3A3;
    }
}