@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document url-prefix(http), url-prefix(https) {
    input {
	background-color: white;
	color: black;
	-moz-appearance: none !important;
    }

    pre, textarea {
	background-color: white;
	color: black;
	-moz-appearance: none !important;
    }

    select {
	background-color: white;
	color: black;
	-moz-appearance: none !important;
    }

    input[type="radio"],
    input[type="checkbox"] {
	background-color: white;
	color: ThreeDFace;
	-moz-appearance: none !important;
    }

    *|*::-moz-radio {
	background-color: white;
	color: black;
	-moz-appearance: none !important;
    }

    button,
    input[type="reset"],
    input[type="button"],
    input[type="submit"] {
	background-color: #eeeeee;
	color: black;
	-moz-appearance: none !important;
    }

    button:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover,
    input[type="submit"]:hover {
	background-color: lightgray;
	-moz-appearance: none !important;
    }

    body {
	background-color: white;
	color: black;
	-moz-appearance: none !important;
    }
    a {
	color: #0000ee;
    }
    a:visited {
	color: #551a8b;
    }

}
